{% extends "base.html" %}

{% block body %}
<div class="app_list">
    <a href="../../google/detail/{{ app }}" role="button">◁ GooglePlayストアへ</a>
</div>
<h1>アプリ一覧(Twitter)</h1>
<div class="app_list">
    {% for app_name in app_names %}
        <a href="/twitter/detail/{{ app_name }}" role="button">{{ app_name }}</a>
    {% endfor %}
</div>

<div class="appname">
    <div id="app_name">{{ app }}</div>
</div>

<div class="search" id="search">
    <form>
        <div class="date-input">
            <label for="start-date">開始日:</label>
            <input type="date" name="start-date" id="start-date" value="2021-10-15">
        </div>
        <div class="date-input"> ~ </div>
        <div class="date-input">
            <label for="end-date">終了日:</label>
            <input type="date" name="end-date" id="end-date" value="2021-12-15">
        </div>
        <input type="submit" value="検索">
    </form>
</div>

<div class="graph-title">日付ごとのレビュー数の推移</div>
<div id="scatter"></div>

<script>
    // 2次元データからラベルと値を分離
    var labels = JSON.parse('{{ date_graph_list | map(attribute=0) | list | tojson | safe }}');
    var values = JSON.parse('{{ date_graph_list | map(attribute=1) | list | tojson | safe }}');

    var dateData = [{
        x: labels,
        y: values,
        type: 'scatter',
    }];

    var layout = {
        height: 400,
        width: 1000
    };

    Plotly.newPlot('scatter', dateData, layout);
</script>

<div class="graph-title">種類ごとのレビュー数の割合 TOP5</div>
<div id="pie-chart"></div>

<script>
    // 2次元データからラベルと値を分離
    var labels = JSON.parse('{{ top_review | map(attribute=2) | list | tojson | safe }}');
    var values = JSON.parse('{{ top_review | map(attribute=1) | list | tojson | safe }}');

    var clusters = [{
        labels: labels,
        values: values,
        type: 'pie',
        direction: 'clockwise',
    }];

    var layout = {
        height: 400,
        width: 1000
    };

    Plotly.newPlot('pie-chart', clusters, layout);
</script>

<ul class="accordion-area">
    {% for cluster in clusters %}
        {% set title = "" %}
        {% if cluster[1] != 0 %}
            <li>
                <section>
                    <h3 class="title">{{ cluster[2] }} {{ cluster[1] }}件</h3>
                    <div class="box">
                        {% for row in rows %}
                            {% if row[5] == cluster[0]|string %}
                                <p><button class="openModal" data-target="modal{{ loop.index }}">{{ row[2][:4] }}年{{ row[2][5:7] }}月{{ row[2][8:10] }}日 {{ row[4] }}</button></p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% for row in rows %}
    <!-- モーダルエリアここから -->
    <section id="modal{{ loop.index }}" class="modalArea">
        <div class="modalBg"></div>
        <div class="modalWrapper">
            <div class="modalContents">
                <h1>詳細情報</h1>
                <p>日時: {{ row[2][:4] }}年{{ row[2][5:7] }}月{{ row[2][8:10] }}日{{ row[2][11:13] }}時{{ row[2][14:16] }}分</p>
                <p>レビュー文: {{ row[3] }}</p>
                <p>抽出した文章: {{ row[4] }}</p>
            </div>
            <div class="closeModal">
                <button data-target="modal{{ loop.index }}">×</button>
            </div>
        </div>
    </section>
    <!-- モーダルエリアここまで -->
{% endfor %}

<!-- jQueryを読み込む -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}