{% extends "base.html" %}

{% block body %}
<h1>アプリ一覧(GooglePlayストア)</h1>
<div class="app_list">
    {% for app_name in app_names %}
        <a href="/google/detail/{{ app_name }}" role="button">{{ app_name }}</a>
    {% endfor %}
</div>
<h1>アプリ一覧(Twitter)</h1>
<div class="app_list">
    {% for app_name in app_names %}
        <a href="twitter/detail/{{ app_name }}" role="button">{{ app_name }}</a>
    {% endfor %}
</div>

<div class="search" id="search">
    <form>
        <div class="date-input">
            <label for="start-date">開始日:</label>
            <input type="date" name="start-date" id="start-date" value="2021-10-15">
        </div>
        <div class="date-input"> ~ </div>
        <div class="date-input">
            <label for="end-date">終了日:</label>
            <input type="date" name="end-date" id="end-date" value="2021-12-15">
        </div>
        <input type="submit" value="検索">
    </form>
</div>

<div class="graph-title">日付ごとのレビュー数の推移 (GooglePlayストア)</div>
<div id="google-scatter"></div>

<div class="graph-title">日付ごとのレビュー数の推移 (Twitter)</div>
<div id="twitter-scatter"></div>

<script>
    // 横軸: 日付
    var labels = JSON.parse('{{ google_graphs[0] | map(attribute=0) | list | tojson | safe }}');
    // ラベル用日付
    var displayLabels = [];
    for (var i = 0; i < labels.length; i += 5) {
        displayLabels.push(labels[i]);
    }

    // googleデータ
    var googleCapcutValues = JSON.parse('{{ google_graphs[0] | map(attribute=1) | list | tojson | safe }}');
    var googleGoogleFitValues = JSON.parse('{{ google_graphs[2] | map(attribute=1) | list | tojson | safe }}');
    var googleCapcutData = {
        x: labels,
        y: googleCapcutValues,
        type: 'scatter',
        name: 'capcut'
    };
    var googleGoogleFitData = {
        x: labels,
        y: googleGoogleFitValues,
        type: 'scatter',
        name: 'google_fit'
    };
    var googleData = [googleCapcutData, googleGoogleFitData];

    // twitterデータ
    var twitterCapcutValues = JSON.parse('{{ twitter_graphs[0] | map(attribute=1) | list | tojson | safe }}');
    var twitterGoogleFitValues = JSON.parse('{{ twitter_graphs[2] | map(attribute=1) | list | tojson | safe }}');
    var twitterCapcutData = {
        x: labels,
        y: twitterCapcutValues,
        type: 'scatter',
        name: 'capcut'
    };
    var twitterGoogleFitData = {
        x: labels,
        y: twitterGoogleFitValues,
        type: 'scatter',
        name: 'google_fit'
    };
    var twitterData = [twitterCapcutData, twitterGoogleFitData];

    var layout = {
        title: '日付ごとのレビュー数の推移',
        height: 600,
        width: 1200,
        xaxis: {
            tickvals: displayLabels,  // 5日おきの日付を指定
        }
    };

    Plotly.newPlot('google-scatter', googleData, layout);
    Plotly.newPlot('twitter-scatter', twitterData, layout);
</script>
{% endblock %}